main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10%;
    max-width: 100%;
}
.country-details {
    text-align: center;
    background-color: gray;
    border-radius: 25%;
    width: 25%;
    flex-wrap: wrap;
}

path:hover {
    fill: red;
    stroke: goldenrod;
}